@font-face {
	font-family: 'Topaz';
	src: url('assets/topaz.ttf');
}

/* pixelated */
@font-face {
	font-family: 'Amiga Topaz';
	src: url('assets/amiga_topaz.ttf');
}

body { background-color: #0D0230}	

#screen {
	position: relative;
	background-color: #440EAC;
	padding: 100px 275px 100px 100px;
	width: 850px; 
	height: 650px;
	z-index: 0;
	background-image: url('assets/monitor2.png');
	border-radius: 10px;
	margin: 0 auto;
	/* box-shadow: 0 0 20px 10px #440EAC, 
				0 0 103px 14px #540cc6, 
				0 0 10px 10px #0ff; */
}


#glow {
	position: absolute;
	z-index: -1;
	top: 100px;
	left: 75px;
    width: 850px;
    height: 650px;
    border-radius: 10px;
    background-color: #440EAC;
	box-shadow: 0 0 20px 10px #440EAC, 
				0 0 103px 14px #540cc6, 
				0 0 10px 10px #0ff
}

#overlay {
	display: none;
	position: absolute;
	top: 100px; 
	left: 75px; 
	width: 850px; 
	height: 650px;
	z-index: 1;
	background-color: #440eac;
}

.cursor::after {
	content: "";
	height: 18px;
	width: 9px; 
	display: inline-block;
	margin: 0;
	background-color: #8d6ff5;
	animation-name: blink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0,1,0,1);
}

@keyframes blink {
	0% {background-color: #8d6ff5;}
	50% {background-color: transparent;}
}

.line {
	font-family: 'Amiga Topaz';
	font-size: 20px;
	margin: 0; 
	color: #8d6ff5;
	text-transform: uppercase;
}

#line0 { padding-top: 15px; }


